discord.py[speed,voice]==2.3.2
google-cloud-texttospeech==2.16.3
azure-cognitiveservices-speech==1.36.0
httpx==0.27.0
redis==5.0.3
Flask==3.0.2
gunicorn==21.2.0
metadata_parser==0.12.0
beautifulsoup4==4.12.3
lxml==5.2.0
psycopg[binary,pool]==3.1.18
natsort==8.4.0
pycryptodome==3.20.0
# openai==0.27.8
openai-async==0.0.3
